.back-cont{

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.color-box{

    width: 400px;
    height: 250px;
    border: 2px #000 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}